<!DOCTYPE HTML>
<html>
<head>
  <link rel="stylesheet" href="/stylesheets/main.css">
  <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/css/materialize.min.css">
  </head>
<body>
  <nav>
    <div class="container">
    <!--    Migrate in line style to separate file.    -->
    <div class="nav-wrapper" style="font-family: Montserrat;">
      <a href="#!" class="brand-logo">Norse Votes</a>
      <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
    </div>
  </div>
 </nav>

 <!-- Sidenav -->
<ul class="sidenav" id="mobile-demo">
<li><a href="#">Something goes here</a></li>
<li><a href="#">Something goes here</a></li>
<li><a href="#">Something goes here</a></li>
<li><a href="#">Something goes here</a></li>
</ul>
  
  