<!DOCTYPE HTML>
<html>
<head>
  <link rel="stylesheet" href="/stylesheets/main.css">
  <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/css/materialize.min.css">
  <link rel="stylesheet" href="https://cdn.rawgit.com/konpa/devicon/df6431e323547add1b4cf45992913f15286456d3/devicon.min.css">
  </head>
<body>
  <nav>
    <div class="container">
    <!--    Migrate in line style to separate file.    -->
      <div class="nav-wrapper" style="font-family: Montserrat;">
        <a href="#" class="brand-logo">Norse Votes</a>
        <% if (!currentUser) {%>
          <ul id="nav-mobile" class="right">
            <li><a href="/login"><i class="material-icons left">person</i>Login</a></li>
            <li><a href="/register"><i class="material-icons right">person_add</i>Register</a></li>
          </ul>
        <%} else {%>
        <ul id="nav-mobile" class="right">
          <li><a href="/logout"><i class="material-icons right">exit_to_app</i>Logout</a></li>
        </ul>
        <%}%>
      </div>
  </div>
 </nav>

 <!-- Floating action button of bottom left of website. -->
<% if (currentUser) {%>
  <div class="fixed-action-btn ">
  <a class="btn-floating btn-large red">
      <i class="large material-icons">keyboard_arrow_left</i>
  </a>
  <ul>
      <li><a class="btn-floating red"><i class="material-icons">insert_chart</i></a></li>
      <li><a class="btn-floating yellow darken-1"><i class="material-icons">format_quote</i></a></li>
      <li><a class="btn-floating green"><i class="material-icons">public</i></a></li>
      <li><a class="btn-floating blue" href="/polls/new"><i class="material-icons">add</i></a></li>
  </ul>
  </div>
<%}%>
  
  