<% include partials/header %>

<div class="container">
    <div class="row">
        <div class="card-panel z-depth-5">
            <h4 class="blue-text text-darken-2">
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. 
                Voluptates veniam porro minus, repudiandae voluptas rerum dolor ea ipsum vitae hic animi 
                mollitia consequatur non dolorum quos eius veritatis nam amet!
            </h4>
        </div>
    </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/js/materialize.min.js"></script>
<script src="/javascripts/landing.js"></script>
</body>
</html>