<% include partials/header %>

<div class="container">
    <div class="row">
        <div class="card-panel z-depth-5 center-align">
            <h4 class="blue-text text-darken-2 ">
                Norsky is simple:
            </h4>
            <h5 class="blue-text text-darken-2 ">
                
                <ul>
                    <li>Vote on challenges.</li>
                    <li>Beat the challenge before others.</li>
                    <li>Choose your prize. (Forget $5 off in the book store)</li>
                </ul>
            </h5>
            <a class="waves-effect waves-light blue btn-large" href="/polls" style="width: 100%;">Peek the votes.</a>
        </div>
    </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/js/materialize.min.js"></script>
<script src="/javascripts/landing.js"></script>
</body>
</html>