<% include partials/header %>
<div class="container">

    <div class="row">
        <form class="col s12 m12" action="/new" method="POST">
            <div class="row">
                <div class="input-field col s12 m12">
                    <i class="material-icons prefix">mode_edit</i>
                    <input name="topic" class="materialize-input" data-length="45" maxlength="45"></input>
                    <label for="topic">Ask your question: </label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s6 m6">
                    <i class="material-icons prefix">airline_seat_recline_extra</i>
                    <input name="choice1" class="materialize-input" data-length="30" maxlength="30"></input>
                    <label for="choice1">First choice: </label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s6 m6">
                    <i class="material-icons prefix">airline_seat_recline_extra</i>
                    <input name="choice2" class="materialize-input" data-length="30" maxlength="30"></input>
                    <label for="choice2">Second choice: </label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s6 m6">
                    <i class="material-icons prefix">airline_seat_recline_extra</i>
                    <input name="choice3" class="materialize-input" data-length="30" maxlength="30"></input>
                    <label for="choice3">Third choice: </label>
                </div>
            </div>
            <button class="right btn-floating btn-large waves-effect waves-light red" type="submit" name="action">
                <i class="material-icons right">send</i>
            </button>
        </form>
    </div>
</div>
<% include partials/footer %>