<% include partials/header %>
<div class="container">
    <% if(message.length > 0) {%>
        <div class="row">
            <div class="col s12 m6">
                <div class="card-panel red darken-5 z-depth-5">
                    <%=message%>
                </div>
            </div>
        </div>
    <%}%>
        <div class="row">
            <form class="col s12 m6" action="/register" method="POST">
                <div class="row">
                    <div class="input-field col s12">
                        <input name="email" type="email" class="validate">
                        <label for="email">Email</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <input name="password" type="password" class="validate" data-length="15" maxlength="15">
                        <label for="password">Password</label>
                    </div>
                </div>
                <button class="btn waves-effect waves-light light-green accent-4" type="submit" name="action">Register!
                    <i class="material-icons right  ">send</i>
                </button>
            </form>
        </div>
</div>

<script
    src="https://code.jquery.com/jquery-3.3.1.min.js"
    integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
    crossorigin="anonymous">
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/js/materialize.min.js"></script>
<script src="/javascripts/landing.js"></script>
</body>
</html>